<%- include("../layout/header.ejs")%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <% if(typeof data !=="undefined" && data.items.length>0 ) {%>
                                <table class="table shopping-summery text-center clean">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.items.forEach((item, index)=> { %>
                                            <tr>
                                                <td class="image product-thumbnail"><img
                                                        src="/uploads/<%= item.product.images[0].data%>"
                                                        alt="product-img"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html">
                                                            <%= item.product.name%>
                                                        </a></h5>
                                                    <p class="font-xs">
                                                        <%= item.product.brandName%>
                                                    </p>
                                                </td>
                                                <td class="size" data-title="Size"><span id="price">
                                                        <%= item.size%>
                                                    </span></td>
                                                <td class="price" data-title="Price"><span id="price">
                                                        <%= item.offerPrice%>
                                                    </span></td>
                                                <td class="text-center" data-title="Stock">
                                                    <div class="detail-qty border radius  m-auto">

                                                        <a href="#" class="qty-down"
                                                            onclick="updateQuantity('down','<%= item._id%>')"><i
                                                                class="fi-rs-angle-small-down"></i>
                                                        </a>

                                                        <span class="qty-val" id="qty-<%= item._id%>">
                                                            <%= item.quantity%>
                                                        </span>

                                                        <a href="#" class="qty-up" id="up-<%= item._id%>"><i
                                                                class="fi-rs-angle-small-up"
                                                                onclick="updateQuantity('up','<%= item._id%>')"></i></a>
                                                    </div>
                                                </td>
                                                <td class="text-right" data-title="Cart">

                                                    <span id="subTotal-<%= item._id%>">
                                                        <%= item.subTotal%>
                                                    </span>
                                                </td>
                                                <td class="action" data-title="Remove"><a class="text-muted"
                                                        onclick="deleteItem('<%= item._id%>')"><i
                                                            class="fi-rs-trash"></i></a></td>
                                            </tr>
                                            <%})%>
                                    </tbody>
                                </table>
                                <%}else{%>
                                    <h3 class="text-dark">
                                        No Items in Cart !!
                                    </h3>
                                    <%}%>
                        </div>
                        <div class="cart-action text-end">
                            <a class="btn " href="/"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                            </div>
                            <% if(typeof data !=="undefined" && data.items.length>0 ){ %>
                                <div class="col-lg-6 col-md-12">
                                    <div class="border p-md-4 p-30 border-radius cart-totals">
                                        <div class="heading_s1 mb-3">
                                            <h4>Cart Totals</h4>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="cart_total_label">Cart Subtotal</td>
                                                        <td class="cart_total_amount"><span
                                                                class="font-lg fw-900 text-brand" id="total_amount">
                                                                <%= data.allTotal%>
                                                            </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_total_label">Shipping</td>
                                                        <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                            Shipping</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="cart_total_label">Total</td>
                                                        <td class="cart_total_amount"><strong><span
                                                                    class="font-xl fw-900 text-brand" id="allTotal">
                                                                    <%= data.allTotal%>
                                                                </span></strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To
                                            CheckOut</a>
                                    </div>
                                </div>
                                <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>

        function updateQuantity(click, id) {
            let quantity = $('#qty-' + id).html();
            $.ajax({
                url: `/cart/${click}/${id}`,
                method: "PATCH",
                success: (response) => {
                    if (response.status) {
                        $('#subTotal-' + id).html(response.cart.items.totalPrice);
                        $('#total_amount').html(response.cart.allTotal);
                        $('#allTotal').html(response.cart.allTotal);
                        $('#up-' + id).show();
                        $('#qty-' + id).html(response.cart.items.quantity);
                    } else {
                        $('#qty-' + id).html(quantity);
                        $('#up-' + id).hide();
                        Toastify({
                            text: response.message,
                            duration: 3000, // Customize duration as needed
                            gravity: "top", // Choose placement (top, top-left, top-right, bottom, etc.)
                            position: "center", // Align toast (center, left, right)
                            stopOnFocus: true,
                            style: {
                                background: "red", // Green background
                            },
                        }).showToast();
                    }
                }
            });
        }

        function deleteItem(id) {
            $.ajax({
                url: `/cart-item/${id}`,
                method: "DELETE",
                success: (response) => {
                    if (response.status) {
                        Toastify({
                            text: "Product removed from cart",
                            duration: 3000, // Customize duration as needed
                            gravity: "top", // Choose placement (top, top-left, top-right, bottom, etc.)
                            position: "center", // Align toast (center, left, right)
                            stopOnFocus: true,
                            style: {
                                background: "red", // Green background
                            },
                        }).showToast();
                        setTimeout(() => {
                            location.reload();
                        }, 1000);

                    }
                }
            });
        }

        
    </script>
    <%- include("../layout/footer.ejs")%>