<%- include('../layout/header.ejs')%>
<main class="main">
  <section class="home-slider position-relative pt-25 pb-20">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="position-relative">
            <div
              class="hero-slider-1 style-3 dot-style-1 dot-style-1-position-1"
            >
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="slider-1-height-3 slider-animated-1">
                    <div class="slider-img">
                      <img src="/user/imgs/slider/slider-4.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                  <div class="slider-1-height-3 slider-animated-1">
                    <div class="slider-img">
                      <img src="/user/imgs/slider/slider-5.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-arrow hero-slider-1-arrow style-3"></div>
          </div>
        </div>
        <div class="col-lg-3 d-md-none d-lg-block">
          <div class="banner-img banner-1 wow fadeIn animated home-3">
            <img
              class="border-radius-10"
              src="/user/imgs/banner/banner-7.png"
              alt=""
            />
          </div>
          <div class="banner-img banner-2 wow fadeIn animated mb-0">
            <img
              class="border-radius-10"
              src="/user/imgs/banner/banner-5.png"
              alt=""
              width="280px"
              height="180px"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="featured section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/user/imgs/theme/icons/feature-1.png" alt="" />
            <h4 class="bg-1">Free Shipping</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/user/imgs/theme/icons/feature-2.png" alt="" />
            <h4 class="bg-3">Online Order</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/user/imgs/theme/icons/feature-3.png" alt="" />
            <h4 class="bg-2">Save Money</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/user/imgs/theme/icons/feature-4.png" alt="" />
            <h4 class="bg-4">Promotions</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/user/imgs/theme/icons/feature-5.png" alt="" />
            <h4 class="bg-5">Happy Sell</h4>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
          <div class="banner-features wow fadeIn animated hover-up animated">
            <img src="/user/imgs/theme/icons/feature-6.png" alt="" />
            <h4 class="bg-6">24/7 Support</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product-tabs section-padding wow fadeIn animated">
    <div class="container">
      <div class="tab-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="nav-tab-one"
              data-bs-toggle="tab"
              data-bs-target="#tab-one"
              type="button"
              role="tab"
              aria-controls="tab-one"
              aria-selected="true"
            >
              Featured
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="nav-tab-two"
              data-bs-toggle="tab"
              data-bs-target="#tab-two"
              type="button"
              role="tab"
              aria-controls="tab-two"
              aria-selected="false"
            >
              Popular
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="nav-tab-three"
              data-bs-toggle="tab"
              data-bs-target="#tab-three"
              type="button"
              role="tab"
              aria-controls="tab-three"
              aria-selected="false"
            >
              New added
            </button>
          </li>
        </ul>
        <a href="#" class="view-more d-none d-md-flex"
          >View More<i class="fi-rs-angle-double-small-right"></i
        ></a>
      </div>
      <!--End nav-tabs-->
      <div class="tab-content wow fadeIn animated" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="tab-one"
          role="tabpanel"
          aria-labelledby="tab-one"
        >
          <div class="row product-grid-4">
            <% if(products !=='undefined' ){ products.forEach(product=>{%>
            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30 h-100">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <a href="/product-view/<%= product._id%>">
                      <img
                        class="default-img"
                        src="/uploads/<%= product.images[0].data%>"
                        alt=""
                      />
                      <img
                        class="hover-img"
                        src="/uploads/<%= product.images[1].data%>"
                        alt=""
                      />
                    </a>
                  </div>
                  <div class="product-action-1">
                    <a
                      aria-label="Quick view"
                      class="action-btn hover-up"
                      data-bs-toggle="modal"
                      data-bs-target="#quickViewModal"
                      ><i class="fi-rs-eye"></i
                    ></a>
                    <a
                      aria-label="Add To Wishlist"
                      class="action-btn hover-up"
                      href="shop-wishlist.html"
                      ><i class="fi-rs-heart"></i
                    ></a>
                    <a
                      aria-label="Compare"
                      class="action-btn hover-up"
                      href="shop-compare.html"
                      ><i class="fi-rs-shuffle"></i
                    ></a>
                  </div>
                  <div
                    class="product-badges product-badges-position product-badges-mrg"
                  >
                    <span class="hot">Hot</span>
                  </div>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a href="/product-view/<%= product._id%>">
                      <%= product.category.name%>
                    </a>
                  </div>
                  <h2>
                    <a href="/product-view/<%= product._id%>">
                      <%= product.name%>
                    </a>
                  </h2>
                  <div class="rating-result" title="90%">
                    <span>
                      <span>90%</span>
                    </span>
                  </div>
                  <div class="product-price">
                    <span> <%= product.offerPrice%> </span>
                    <span class="old-price"> <%= product.price%> </span>
                  </div>
                  <div class="product-action-1 show">
                    <a
                      aria-label="Add To Cart"
                      class="action-btn hover-up"
                      href="shop-cart.html"
                      ><i class="fi-rs-shopping-bag-add"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <%})}%>
          </div>
        </div>
      </div>
      <!--End tab-content-->
    </div>
  </section>
  <section class="banner-2 section-padding pb-0">
    <div class="container">
      <div class="banner-img banner-big wow fadeIn animated f-none">
        <img src="/user/imgs/banner/banner-4.png" alt="" />
        <div class="banner-text d-md-block d-none">
          <h4 class="mb-15 mt-40 text-brand">Repair Services</h4>
          <h1 class="fw-600 mb-20">
            We're an Apple <br />Authorised Service Provider
          </h1>
          <a href="shop-grid-right.html" class="btn"
            >Learn More <i class="fi-rs-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padding">
    <div class="container pb-20">
      <h3 class="section-title mb-20 wow fadeIn animated">
        <span>Featured</span> Brands
      </h3>
      <div
        class="carausel-6-columns-cover position-relative wow fadeIn animated"
      >
        <div
          class="slider-arrow slider-arrow-2 carausel-6-columns-arrow"
          id="carausel-6-columns-3-arrows"
        ></div>
        <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="/user/imgs/banner/brand-1.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="/user/imgs/banner/brand-2.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="/user/imgs/banner/brand-3.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="/user/imgs/banner/brand-4.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="/user/imgs/banner/brand-5.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="/user/imgs/banner/brand-6.png"
              alt=""
            />
          </div>
          <div class="brand-logo">
            <img
              class="img-grey-hover"
              src="/user/imgs/banner/brand-3.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('../layout/footer.ejs')%>
