<%- include("../layout/header.ejs")%>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Fashion
                    <span></span> Abstract Print Patchwork Dress
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <%if(product!=='undefined'){%>
                        <div class="col-lg-12">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-gallery">
                                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                            <!-- MAIN SLIDES -->
                                            <div class="product-image-slider">
                                                <figure class="border-radius-5">
                                                    <img src="/uploads/<%= product.images[0].data%>"
                                                        alt="product image">
                                                </figure>
                                                <figure class="border-radius-10">
                                                    <img src="/uploads/<%= product.images[1].data%>"
                                                        alt="product image">
                                                </figure>
                                                <figure class="border-radius-10">
                                                    <img src="/uploads/<%= product.images[2].data%>"
                                                        alt="product image">
                                                </figure>
                                                <figure class="border-radius-10">
                                                    <img src="/uploads/<%= product.images[3].data%>"
                                                        alt="product image">
                                                </figure>
                                            </div>
                                            <!-- THUMBNAILS -->
                                            <div class="slider-nav-thumbnails pl-15 pr-15">
                                                <div><img src="/uploads/<%= product.images[0].data%>"
                                                        alt="product image"></div>
                                                <div><img src="/uploads/<%= product.images[1].data%>"
                                                        alt="product image"></div>
                                                <div><img src="/uploads/<%= product.images[2].data%>"
                                                        alt="product image"></div>
                                                <div><img src="/uploads/<%= product.images[3].data%>"
                                                        alt="product image"></div>
                                            </div>
                                        </div>
                                        <!-- End Gallery -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info">
                                            <h2 class="title-detail">
                                                <%= product.name%>
                                            </h2>
                                            <div class="product-detail-rating">
                                                <div class="pro-details-brand">
                                                    <span> Brands: <a href="shop-grid-right.html">
                                                            <%= product.brandName%>
                                                        </a></span>
                                                </div>
                                                <div class="product-rate-cover text-end">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width:90%">
                                                        </div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                                </div>
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">
                                                    <ins><span class="text-brand"><%= product.offerPrice%>
                                                        </span></ins>
                                                    <ins><span class="old-price font-md ml-15"><%= product.originalPrice%>
                                                        </span></ins>
                                                    <span class="save-price  font-md color3 ml-15"><%= product.discount%>% Off</span>
                                                </div>
                                            </div>
                                            <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                            <div class="short-desc mb-30">
                                                <p>
                                                    <%= product.description%>
                                                </p>
                                            </div>
                                            <div class="product_sort_info font-xs mb-30">
                                                <ul>
                                                    <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera
                                                        Brand Warranty</li>
                                                    <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                        Policy</li>
                                                    <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery
                                                        available</li>
                                                </ul>
                                            </div>
                                            <!-- <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                                <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                                <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                                <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                                <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                                <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                            </ul>
                                        </div> -->
                                            <div class="attr-detail attr-size">
                                                <strong class="mr-10">Size</strong>
                                                <ul class="list-filter size-filter font-small">
                                                    <li><a href="#" id="S">S</a></li>
                                                    <li class="active" id="M"><a href="#">M</a></li>
                                                    <li><a href="#" id="L">L</a></li>
                                                </ul>
                                            </div>
                                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                            <div class="detail-extralink">
                                                <div class="product-extra-link2">
                                                    <%if(status===true){%>
                                                        <button type="submit" class="button button-add-to-cart"
                                                            onclick="veiwCart()">View Cart</button>
                                                        <%}else{%>
                                                            <button type="submit" class="button button-add-to-cart"
                                                                onclick="addCart('<%= product._id%>')">Add to
                                                                cart</button>
                                                            <%}%>
                                                            <% if (list === true) { %>
                                                                <a aria-label="Add To Wishlist"
                                                                class="action-btn hover-up"
                                                                style="background-color: #9D6948;"
                                                                onclick="removeWishList('<%= product._id %>')"><i
                                                                    class="fi-rs-heart"></i></a>
                                                             <% } else { %> 
                                                                <a aria-label="Add To Wishlist"
                                                                    class="action-btn hover-up"
                                                                    onclick="addWishList('<%= product._id %>')"><i
                                                                        class="fi-rs-heart"></i></a>
                                                            <% } %>
                                                </div>
                                            </div>
                                            <ul class="product-meta font-xs color-grey mt-50">
                                                <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                                <li class="mb-5">Category: <%= product.category.name%>
                                                </li>
                                                <li>Availability:
                                                    <span class="in-stock text-success ml-5" id="small-stock">
                                                        <%= product.stock[0].quantity%> Items In Stock
                                                    </span>
                                                    <span class="in-stock text-success ml-5" id="medium-stock">
                                                        <%= product.stock[1].quantity%> Items In Stock
                                                    </span>
                                                    <span class="in-stock text-success ml-5" id="large-stock">
                                                        <%= product.stock[2].quantity%> Items In Stock
                                                    </span>
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-10 m-auto entry-main-content">
                                        <h2 class="section-title style-1 mb-30">Description</h2>
                                        <div class="description mb-50">
                                            <p>
                                                <%= product.description%>
                                            </p>
                                        </div>
                                        <div class="social-icons single-share">
                                            <ul class="text-grey-5 d-inline-block">
                                                <li><strong class="mr-10">Share this:</strong></li>
                                                <li class="social-facebook"><a href="#"><img
                                                            src="/user/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                                </li>
                                                <li class="social-twitter"> <a href="#"><img
                                                            src="/user/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                                </li>
                                                <li class="social-instagram"><a href="#"><img
                                                            src="/user/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                                </li>
                                                <li class="social-linkedin"><a href="#"><img
                                                            src="/user/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- <h3 class="section-title style-1 mb-30 mt-30">Reviews (3)</h3> -->

                                        <!-- <div class="comments-area style-2">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mb-30">Customer questions & answers</h4>
                                                <div class="comment-list">
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user/imgs/page/avatar-6.jpg" alt="">
                                                                <h6><a href="#">Jacky Chan</a></h6>
                                                                <p class="font-xxs">Since 2012</p>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width:90%">
                                                                    </div>
                                                                </div>
                                                                <p>Thank you very fast shipping from Poland only 3days.</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                        <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user/imgs/page/avatar-7.jpg" alt="">
                                                                <h6><a href="#">Ana Rosie</a></h6>
                                                                <p class="font-xxs">Since 2008</p>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width:90%">
                                                                    </div>
                                                                </div>
                                                                <p>Great low price and works well.</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                        <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img src="/user/imgs/page/avatar-8.jpg" alt="">
                                                                <h6><a href="#">Steven Keny</a></h6>
                                                                <p class="font-xxs">Since 2010</p>
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating" style="width:90%">
                                                                    </div>
                                                                </div>
                                                                <p>Authentic and Beautiful, Love these way more than ever expected They are Great earphones</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                        <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <h4 class="mb-30">Customer reviews</h4>
                                                <div class="d-flex mb-30">
                                                    <div class="product-rate d-inline-block mr-15">
                                                        <div class="product-rating" style="width:90%">
                                                        </div>
                                                    </div>
                                                    <h6>4.8 out of 5</h6>
                                                </div>
                                                <div class="progress">
                                                    <span>5 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>4 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>3 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>2 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                </div>
                                                <div class="progress mb-30">
                                                    <span>1 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                </div>
                                                <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                            </div>
                                        </div>
                                    </div> -->
                                        <!--comment form-->
                                        <!-- <div class="comment-form">
                                        <h4 class="mb-15">Add a review</h4>
                                        <div class="product-rate d-inline-block mb-30">
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-12">
                                                <form class="form-contact comment_form" action="#" id="commentForm">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="button button-contactForm">Submit
                                                            Review</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> -->
                                    </div>
                                </div>
                                <!-- <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/user/imgs/shop/product-2-1.jpg" alt="">
                                                            <img class="hover-img" src="/user/imgs/shop/product-2-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Ulstra Bass Headphone</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$238.85 </span>
                                                        <span class="old-price">$245.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/user/imgs/shop/product-3-1.jpg" alt="">
                                                            <img class="hover-img" src="/user/imgs/shop/product-4-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="sale">-12%</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Smart Bluetooth Speaker</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$138.85 </span>
                                                        <span class="old-price">$145.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/user/imgs/shop/product-4-1.jpg" alt="">
                                                            <img class="hover-img" src="/user/imgs/shop/product-4-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="new">New</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">HomeSpeak 12UEA Goole</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$738.85 </span>
                                                        <span class="old-price">$1245.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up mb-0">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/user/imgs/shop/product-5-1.jpg" alt="">
                                                            <img class="hover-img" src="/user/imgs/shop/product-3-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Dadua Camera 4K 2021EF</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$89.8 </span>
                                                        <span class="old-price">$98.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                                <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                                    <img class="border-radius-10" src="/user/imgs/banner/banner-4.png" alt="">
                                    <div class="banner-text">
                                        <h4 class="mb-15 mt-40">Repair Services</h4>
                                        <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <%}%>
            </div>
        </section>
    </main>
    <script>
        document.getElementById('small-stock').style.display="none"
        document.getElementById('large-stock').style.display='none';
        document.getElementById('medium-stock').style.display="inline";
        document.getElementById("S").addEventListener('click',()=>{
            document.getElementById('small-stock').style.display="inline";
            document.getElementById('large-stock').style.display='none';
            document.getElementById('medium-stock').style.display="none";
            document.getElementById("S").classList.add('active');
            document.getElementById("M").classList.remove('active');
            document.getElementById("L").classList.remove('active');

        });
        document.getElementById("M").addEventListener('click',()=>{ 
            document.getElementById('medium-stock').style.display="inline";
            document.getElementById('large-stock').style.display='none';
            document.getElementById('small-stock').style.display="none";
            document.getElementById("M").classList.add('active');
            document.getElementById("L").classList.remove('active');
            document.getElementById("S").classList.remove('active');
        });
        document.getElementById("L").addEventListener('click',()=>{   
            document.getElementById('large-stock').style.display="inline";
            document.getElementById('medium-stock').style.display='none';
            document.getElementById('small-stock').style.display="none";
            document.getElementById("L").classList.add('active');
            document.getElementById("M").classList.remove('active');
            document.getElementById("S").classList.remove('active');
        });
        

        function addCart(id) {
            let size="";
            if(document.getElementById('S').classList.contains('active')){
                size="S";
            }else if(document.getElementById('M').classList.contains('active')){
                size="M";
            }else if(document.getElementById('L').classList.contains('active')){
                size="L";
            }else{
                size="M"
            }
            $.ajax({
                url: `/cart/${id}/${size}`,
                method: "POST",
                success: function (response) {
                    if (response.status) {
                        Toastify({
                            text: "Product added to cart successfully!",
                            duration: 3000, // Customize duration as needed
                            gravity: "top", // Choose placement (top, top-left, top-right, bottom, etc.)
                            position: "center", // Align toast (center, left, right)
                            style: {
                                background: "green", // Green background
                            }
                        }).showToast();
                        setTimeout(() => {
                            location.reload();
                        }, 1000);
                    } else {
                        Toastify({
                            text: "Failed to add product to cart. Please try again.",
                            duration: 3000,
                            gravity: "top",
                            position: "center",
                            style: {
                                background: "#f44336", // Red background
                                color: "#fff"
                            }
                        }).showToast();
                    }
                }
            });
        }

        function veiwCart(){
            location.href='/cart';
        }

        function addWishList (prodId){
            $.ajax({
                url:`/wish-list/${prodId}`,
                method:"PUT",
                success:(response)=>{
                    if(response.status){
                        Toastify({
                            text: "Product added to wishlist successfully!",
                            duration: 3000, // Customize duration as needed
                            gravity: "bottom", // Choose placement (top, top-left, top-right, bottom, etc.)
                            position: "center", // Align toast (center, left, right)
                            style: {
                                background: "green",
                             } // Green background
                        }).showToast();
                        setTimeout(() => {
                            location.reload();
                        }, 3000);
                    }else {
                        Toastify({
                            text: "Failed to add product to wishlist. Please try again.",
                            duration: 3000,
                            gravity: "top",
                            position: "center",
                            style: {
                                background: "#f44336", // Red background
                                color: "#fff"
                            }
                        }).showToast();
                    }
                }
            })
        }

        function removeWishList(prodId){
            $.ajax({
                url:'/removeWishList/'+prodId,
                method:"PATCH",
                success:(response)=>{
                    if(response.status){
                        Toastify({
                            text: "Product removed from wishlist successfully!",
                            duration: 3000, // Customize duration as needed
                            gravity: "bottom", // Choose placement (top, top-left, top-right, bottom, etc.)
                            position: "center", // Align toast (center, left, right)
                            style: {
                                background: "green",
                             } // Green background
                        }).showToast();
                        setTimeout(() => {
                            location.reload();
                        }, 3000);
                    }else {
                        Toastify({
                            text: "Failed to add product to wishlist. Please try again.",
                            duration: 3000,
                            gravity: "top",
                            position: "center",
                            style: {
                                background: "#f44336", // Red background
                                color: "#fff"
                            }
                        }).showToast();
                    }
                }
            })
        }
    </script>
    <%- include('../layout/footer.ejs')%>