<%- include("../layout/headerBack.ejs") %>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Coupon</h2>

                </div>
                <% if (message!==undefined) { %>
                    <div class="success text-success mb-4 mx-2" id="success">
                        <%= message %>
                    </div>
                    <% } %>
                        <div class="error text-danger mb-4 mx-2" id="error">
                        </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <% if (coupon!==undefined) { %>

                        <div class="card-body">
                            <form method="post" action="/admin/coupon-edit/<%= coupon._id%>?_method=PUT">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="mb-4">
                                    <label for="coupon_name" class="form-label">Coupon Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="coupon_name"
                                        name="name" value="<%= coupon.name %>">
                                    <span id="error-name" class="text-danger m-3"></span>
                                </div>
                                <div class="mb-4">
                                    <label for="coupon_code" class="form-label">Coupon code</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="coupon_code"
                                        name="code" value="<%= coupon.code %>">
                                    <span id="error-code" class="text-danger m-3"></span>
                                </div>
                                <div class="mb-4">
                                    <label for="coupon_discount" class="form-label">Coupon Discount</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="coupon_discount"
                                        name="discount" value="<%= coupon.discount %>">
                                    <span id="error-discount" class="text-danger m-3"></span>
                                </div>
                                <div class="mb-4">
                                    <label for="coupon_expiry" class="form-label">Coupon Expiry</label>
                                    <input type="date" placeholder="Type here" class="form-control" id="coupon_expiry"
                                        name="expiration" value="<%= coupon.expiry %>">
                                    <span id="error-expiry" class="text-danger m-3"></span>
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status"
                                            id="flexRadioDefault1" checked value="true">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status"
                                            id="flexRadioDefault2" value="false">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                                </div>
                            </form>
                        </div>
                        <% } %>
                </div> <!-- card end// -->

            </div>

        </div>
    </section>
    <%- include("../layout/footerBack.ejs") %>