<%- include("../layout/headerBack.ejs") %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Coupon List</h2>
      <p>All coupons.</p>
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header"></header>
    <!-- card-header end// -->
    <div class="card-body">
      <% if(coupons !=='undefined' && coupons.length> 0){%>
      <%coupons.forEach(function (coupon){%>
      <article class="itemlist">
        <div class="row align-items-center">
          <div class="col-lg-2 col-sm-4 col-6 flex-grow-1 col-name">
            <a class="itemside" href="#">
              <div class="info">
                <h6 class="mb-0"><%= coupon.name%></h6>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-sm-4 col-6 flex-grow-1 col-name">
            <a class="itemside" href="#">
              <div class="info">
                <h6 class="mb-0"><%= coupon.code%></h6>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-sm-4 col-6 flex-grow-1 col-name">
            <a class="itemside" href="#">
              <div class="info">
                <h6 class="mb-0">Discount: <%= coupon.discount%>%</h6>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-sm-4 col-6 flex-grow-1 col-name">
            <a class="itemside" href="#">
              <div class="info">
                <p class="mb-0">Expiry:<%= coupon.expiry%></p>
              </div>
            </a>
          </div>
          <% if (coupon.status===true) { %>
          <div
            class="col-lg-2 col-sm-2 col-2 col-status d-flex justify-content-center"
          >
            <span
              id="statusButton_<%= coupon._id %>"
              class="btn btn-sm rounded-pill alert-success"
              onclick="toggleCouponStatus('<%= coupon._id %>')"
              >Active</span
            >
          </div>
          <% } else { %>
          <div
            class="col-lg-2 col-sm-2 col-2 col-status d-flex justify-content-center"
          >
            <span
              id="statusButton_<%= coupon._id %>"
              class="btn btn-sm rounded-pill alert-danger"
              onclick="toggleCouponStatus('<%= coupon._id %>')"
              >Disabled</span
            >
          </div>
          <% } %>

          <div
            class="col-lg-2 col-sm-4 col-6 col-action d-flex justify-content-evenly"
          >
            <a
              href="/admin/coupon-edit/<%= coupon._id%>"
              class="btn btn-sm font-sm rounded btn-brand d-flex justify-content-center align-items-center"
            >
              <i class="material-icons md-edit"></i> Edit
            </a>
            <a
              class="btn btn-sm font-sm btn-light rounded d-flex justify-content-center align-items-center"
              onclick="couponDelete('<%= coupon._id%>')"
            >
              <i class="material-icons md-delete_forever"></i> Delete
            </a>
          </div>
        </div>
        <!-- row .// -->
      </article>
      <!-- itemlist  .// -->
      <%})%> <% } else { %>
      <div class="row">
        <h4 class="text-dark">No Coupons Added</h4>
      </div>
      <%}%>
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <li class="page-item"><a class="page-link" href="?page=1">01</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">02</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">03</a></li>
        <li class="page-item"><a class="page-link" href="?page=4">04</a></li>
        <li class="page-item"><a class="page-link" href="?page=5">05</a></li>
      </ul>
    </nav>
  </div>
</section>
<script>
  function toggleCouponStatus(id) {
    $.ajax({
      url: `/admin/coupon-status/${id}`,
      method: "PATCH",
      success: function (res) {
        if (res.status) {
          location.reload();
        }
      },
    });
  }

  function couponDelete(couponId) {
    Swal.fire({
      title: "Are you sure?",
      text: "Delete the coupon!!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, change!",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: `/admin/coupon-delete/${couponId}`,
          method: "DELETE",
          success: function () {
            Swal.fire(
              "Deleted!",
              "Your coupon has been deleted.",
              "success"
            ).then(() => {
              location.reload();
            });
          },
          error: function () {
            Swal.fire("Error!", "Could not delete the coupon.", "error");
          },
        });
      }
    });
  }
</script>
<%- include("../layout/footerBack.ejs") %>
