<%- include('../layout/headerBack.ejs') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order List</h2>
      <p>History of Orders</p>
    </div>
    <div>
      <input
        type="text"
        placeholder="Search order ID"
        class="form-control bg-white"
      />
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search..." class="form-control" />
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Status</option>
            <option>Active</option>
            <option>Disabled</option>
            <option>Show all</option>
          </select>
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Show 20</option>
            <option>Show 30</option>
            <option>Show 40</option>
          </select>
        </div>
      </div>
    </header>
    <!-- card-header end// -->
    <% if (orders!=='undefined' && orders.length>0 ) { %>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#ID</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <!-- <th scope="col">Total</th> -->
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <% orders.forEach(item=> { %>

            <tr>
              <td><%= item.orderId %></td>
              <td>
                <img
                  src="/uploads/<%= item.items.product[0].images[0].data%>"
                  alt=""
                  style="width: 80px; height: 60px"
                />
              </td>

              <td>
                <b> <%= item.items.product[0].name %> </b>
              </td>
              <td><%= item.orderedDate %></td>

              <td class="text-end">
                <% if (item.items.status=="Return" ) { %>
                <a
                  class="btn btn-primary"
                  onclick="orderReturned('<%= item._id%>','<%= item.items._id%>')"
                  >Returned</a
                >
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!-- table-responsive //end -->
    </div>
    <!-- card-body end// -->
    <% } else { %>
    <div class="card-body">No Orders Yet!!</div>
    <% } %>
  </div>
  <!-- card end// -->
  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <li class="page-item"><a class="page-link" href="?page=1">01</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">02</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">03</a></li>
        <li class="page-item"><a class="page-link" href="?page=4">04</a></li>
        <li class="page-item"><a class="page-link" href="?page=5">05</a></li>
      </ul>
    </nav>
  </div>
</section>
<!-- content-main end// -->

<script>
  function orderReturned(orderId, itemId) {
    $.ajax({
      url: `/admin/order-returned/${orderId}/${itemId}`,
      method: "PATCH",
      success: function (res) {
        if (res.status) {
          Toastify({
            text: "Items Returned Successfully!!",
            duration: 3000, // Customize duration as needed
            gravity: "top", // Choose placement (top, top-left, top-right, bottom, etc.)
            position: "center", // Align toast (center, left, right)
            stopOnFocus: true,
            style: {
              background: "green", // Green background
            },
          }).showToast();
          setTimeout(() => {
            location.reload();
          }, 3000);
        } else {
          Toastify({
            text: "Items Return Failed!!",
            duration: 3000, // Customize duration as needed
            gravity: "top", // Choose placement (top, top-left, top-right, bottom, etc.)
            position: "center", // Align toast (center, left, right)
            stopOnFocus: true,
            style: {
              background: "red", // Green background
            },
          }).showToast();
        }
      },
    });
  }
</script>

<%- include("../layout/footerBack.ejs") %>
