<%- include('../layout/headerBack.ejs')%>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                <p>History of Orders</p>
            </div>
            <div>
                <input type="text" placeholder="Search order ID" class="form-control bg-white">
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <% if (orders!=='undefined' ) { %>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Total</th>
                                    <!-- <th scope="col">Status</th> -->
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orders.forEach(item=> { %>

                                    <tr>
                                        <td>
                                            <%= item.orderId %>
                                        </td>
                                        <td><b>
                                                <%= item.user.name %>
                                            </b></td>

                                        <td>
                                            <%= item.allTotal %>
                                        </td>
                                        <!-- <% if (item.items.status==="Pending" ) { %>
                                            <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                                            <% } else if(item.items.status==="Canceled" ) { %>
                                                <td><span class="badge rounded-pill alert-danger">Canceled</span></td>
                                                <% } else if(item.items.status==="Return" ) { %>
                                                    <td><span class="badge rounded-pill alert-danger">Returning</span>
                                                    </td>
                                                    <% } else if(item.items.status==="Returned" ) { %>
                                                        <td><span
                                                                class="badge rounded-pill alert-success">Returned</span>
                                                        </td>
                                                        <% } else if (item.items.status==="Delivered" ) { %>
                                                            <td><span
                                                                    class="badge rounded-pill alert-success">Received</span>
                                                            </td>
                                                            <% } %> -->
                                        <td>
                                            <%= item.orderedDate %>
                                        </td>


                                        <td class="text-end">
                                            <a href="/admin/order-details/<%= item._id %>"
                                                class="btn btn-md rounded font-sm">Detail</a>
                                        </td>
                                    </tr>
                                    <% }) %>

                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
                <% } else { %>
                    <div class="card-body">
                        No Orders Yet!!
                    </div>
                    <% } %>
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item"><a class="page-link" href="?page=1">01</a></li>
                    <li class="page-item"><a class="page-link" href="?page=2">02</a></li>
                    <li class="page-item"><a class="page-link" href="?page=3">03</a></li>
                    <li class="page-item"><a class="page-link" href="?page=4">04</a></li>
                    <li class="page-item"><a class="page-link" href="?page=5">05</a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <%- include('../layout/footerBack.ejs')%>