<%- include('../layout/headerBack.ejs')%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>All products.</p>
                </div>
                <div>
                    <a href="/admin/product-add" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <% if(products !== 'undefined'){
                        products.forEach(product=>{%>
                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4  col-name">
                                <a class="itemside" href="#">
                                    <div class="left">
                                        <img src="/uploads/<%= product.images[0].data%>" class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0"><%= product.name%></h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-price"> <span>Rs.<%= product.price%></span> </div>
                            <div class="col-lg-1 col-sm-1 col-4 px-2">
                                <span><%= product.category.name%></span>
                            </div>
                            <div class="col-lg-1 col-sm-1 col-4 px-2">
                                <span><%= product.discount%>%</span>
                            </div>
                            <div class="col-lg-1 col-sm-1 col-4 px-2">
                                <span>quantity:<%= product.quantity%></span>
                            </div>
                            <% if (product.status === true) { %>
                                <div class="col-lg-1 col-sm-1 col-1 col-status d-flex justify-content-center">
                                    <span id="statusButton_<%= product._id %>" class="btn btn-sm rounded-pill alert-success" onclick="toggleProductStatus('<%= product._id%>')">Active</span>
                                </div>
                            <% } else { %>
                                <div class="col-lg-1 col-sm-1 col-1 col-status d-flex justify-content-center">
                                    <span id="statusButton_<%= product._id %>" class="btn btn-sm rounded-pill alert-danger" onclick="toggleProductStatus('<%= product._id%>')">Disabled</span>
                                </div>
                            <% } %>
                            <div class="col-lg-2 col-sm-3 col-4 col-action d-flex justify-content-evenly">
                                <a href="/admin/product-edit/<%= product._id%>" class="btn btn-sm font-sm rounded btn-brand d-flex justify-content-center align-items-center">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a class="btn btn-sm font-sm btn-light rounded d-flex justify-content-center align-items-center" onclick="productDelete('<%= product._id%>')">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a>
                            </div>
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    <%})}%>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item"><a class="page-link" href="?page=1">01</a></li>
                        <li class="page-item"><a class="page-link" href="?page=2">02</a></li>
                        <li class="page-item"><a class="page-link" href="?page=3">03</a></li>
                        <li class="page-item"><a class="page-link" href="?page=4">04</a></li>
                        <li class="page-item"><a class="page-link" href="?page=5">05</a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <%- include('../layout/footerBack.ejs')%>
